#drum-machine {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  height: 60%;
  background-color: #222;
  margin: 0 auto;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff3131,
    0 0 0.8rem #ff3131, 0 0 2.8rem #ff3131, inset 0 0 1.3rem #ff3131;
  outline: none;
}

#drum-pad-container {
  flex: 2 1 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  padding: 1.5em;
}
